# Outline
#### 1.1 Read residues and neighbors
#### 1.2 First 6 neighbors selected into subsequent analysis
#### 2.1 For neighbor, find a most similar neighbor in each sample 
#### 2.2 Change columns' name
#### 2.3 Meaning of column names 
#### 3.1 Functions for calculating the sum of root of the sum of squared difference 
#### 3.2 The below is to calcuate the summation of the distance of one residue to the closest residue in each sample 
#### 4.1 Clustering 
#### 5.1 Sort by total distance of each sample (lowest, first) and return the first 6 clusters
#### 5.2 Sort by total distance of each sample (lowest, first) and return the first 6  unique clusters
#### 6.1 Generate features accroding to clustering importance
#### 7.1 Prediction results

### Load packges

In [2]:
import pandas as pd
import math
import numpy as np
from sklearn import preprocessing
from sklearn.cluster import KMeans

### 1.1 Read residues and neighbors
For each K residue, up to 20 neighbors have been recorded and loaded 

Note: These K residues are positive or negative

In [41]:
Twenty_near_neigh = pd.read_csv("/home/yuan/Documents/Catalytic_NN20.csv").iloc[:,2:]

In [42]:
Twenty_near_neigh.iloc[0:5,0:18]

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,GLY,4.262492,124.883418,ASP,4.941712,154.419712,MET,5.041309,158.371085,MET,5.187751,110.424738,SER,6.493145,109.190977,ALA,7.094670,66.344847
1,ALA,4.115262,145.134467,PHE,4.956922,119.194588,LEU,5.518260,111.316178,ASN,5.608567,132.087947,GLY,6.327769,77.031817,LEU,6.790397,88.979401
2,ASP,4.341730,120.108316,ASP,4.552346,138.979978,ASP,4.796043,124.289700,GLU,5.158604,161.868038,ASP,5.609910,158.351031,ASP,5.676705,100.670185
3,MET,4.621907,106.551924,ASP,5.076379,118.479618,GLU,5.115932,147.133878,HIS,5.266395,150.124974,HIS,5.609910,114.862710,ASP,5.706629,80.733770
4,GLU,4.572974,122.672384,ASP,4.600261,116.313698,SER,4.726658,156.020169,LEU,5.191927,109.612653,ASP,5.453640,159.578567,ASP,5.711418,77.603611

Dimensions of the dataset

2072: 2072 residues (pos: neg ~ 1:1)

60: 20 neighbors x 3 (neighbor type, distance to the residue, and angle to the residue)

In [43]:
Twenty_near_neigh.shape

(578, 60)

#### 1.2 First 6 neighbors selected into subsequent analysis

In [105]:
Six_near_neigh = Twenty_near_neigh.iloc[:,0:36]
#Six_near_neigh = Six_near_neigh.rename(columns=lambda s: s-1)

In [106]:
Six_near_neigh

,1,2,3,4,5,6,7,8,9,10,...,27,28,29,30,31,32,33,34,35,36
0,GLY,4.262492,124.883418,ASP,4.941712,154.419712,MET,5.041309,158.371085,MET,...,100.248202,PHE,8.056061,129.019625,ASN,8.171773,126.366524,GLU,8.225829,142.800073
1,ALA,4.115262,145.134467,PHE,4.956922,119.194588,LEU,5.518260,111.316178,ASN,...,135.720241,THR,7.807878,155.927078,VAL,7.928539,138.621335,GLU,8.274821,93.017513
2,ASP,4.341730,120.108316,ASP,4.552346,138.979978,ASP,4.796043,124.289700,GLU,...,94.073266,LEU,7.497361,62.383988,ILE,7.697040,60.698973,TYR,7.963392,56.004585
3,MET,4.621907,106.551924,ASP,5.076379,118.479618,GLU,5.115932,147.133878,HIS,...,59.942040,GLU,6.982161,136.862511,SER,7.514017,92.758611,THR,7.795934,133.325304
4,GLU,4.572974,122.672384,ASP,4.600261,116.313698,SER,4.726658,156.020169,LEU,...,87.741684,GLN,7.420222,132.599138,ASP,7.422738,134.697572,ALA,7.819023,10.000746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,PRO,3.964815,154.298343,PRO,4.436031,90.999695,ILE,5.702884,120.282470,ILE,...,16.976308,GLU,7.790903,137.714561,GLY,7.932639,126.392740,TRP,8.076758,66.025750
574,ASN,5.217522,119.989750,LYS,6.276179,115.820767,ILE,6.953798,55.223776,GLU,...,147.753892,LEU,8.676171,130.949718,ASP,9.543881,63.662285,SER,9.803909,81.654017
575,LYS,5.251668,161.071213,ALA,6.155647,51.867172,PRO,6.774974,64.585026,SER,...,124.753511,ILE,10.686284,93.417319,GLN,10.927296,24.710975,ILE,11.084386,81.846484
576,PRO,6.889904,78.045942,ARG,7.194705,108.870571,VAL,7.443845,64.896667,GLU,...,70.055376,ILE,10.777499,80.873769,ASP,10.902455,70.849130,MET,11.936436,30.075046
577,GLU,5.582177,114.404088,ASN,6.230230,90.376282,HIS,7.597592,51.883120,GLU,...,81.898549,HIS,14.168193,52.385033,MET,15.016155,33.369843,ASP,15.370951,64.587386

### 2.1 For neighbor, find a most similar neighbor in each sample 
##### Three layers for loops nested 

Loop through each neighbor (1-6)
    
    Loop through each sample
        
        For each residue, find one similar neighbor in each sample
            
            case 1: No matching residue type, fill type: 21, distance: 999, angle: 999
            
            case 2: Only one residue matching type, fill it directly
            
            case 3: More than one residue matching type, pick one with least square difference
            
##### One example in case 3:

For example, we are searching for a closest residue of 4th residue of sample 4 in sample 6: 

sample 4: GLY d1 a1,	GLY d2	a2,	GLY d3 	a3,	**GLY	d4 	a4**,	GLY d5 a5, PHE d6 a6 

sample 6: ALA d7 a7, GLY d8 a8, GLU d9 a9, GLY d10 a10, VAL d11 a11, ILE d12 a12

Two GLY residues in sample 6.

min(√((d4-d8)^2 + (a4-a8)^2)  , √((d4-d10)^2 + (a4-a10)^2) ) will return

In [107]:
near_neigh_each_protein = []    
for i in range(12):   
    for j in range(578):
        one = []
        one.append(i)
        one.append(j)
        res_name = Six_near_neigh.iloc[j,3*i]
        res_dis = Six_near_neigh.iloc[j,3*i+1]
        res_angle = Six_near_neigh.iloc[j,3*i+2]
        one.append(res_name)
        one.append(res_dis)
        one.append(res_angle)
        for k in range(578):
            one.append(k)
            one_protein = Six_near_neigh.iloc[k,:]
            if len(one_protein[one_protein==res_name].index) == 0:
                one.append(21)
                one.append(999)
                one.append(999)
            elif len(one_protein[one_protein==res_name].index) == 1:
                for index in one_protein[one_protein==res_name].index:
                    index = int(index)
                    one.append(one_protein[index-1])
                    one.append(one_protein[index])
                    one.append(one_protein[index+1])
            else:
                candidate_index = []
                compare = []
                compare_candidate = []
                for index in one_protein[one_protein==res_name].index:
                    index = int(index)
                    candidate_index.append(index)
                    compare.append(math.sqrt((one_protein[index]-res_dis)**2 \
                                             + (one_protein[index+1]-res_angle)**2))
                    compare_candidate.append(one_protein[index-1])
                    compare_candidate.append(one_protein[index])
                    compare_candidate.append(one_protein[index+1])
                min_index = compare.index(min(compare))
                one.append(compare_candidate[min_index*3])
                one.append(compare_candidate[min_index*3+1])
                one.append(compare_candidate[min_index*3+2])
        near_neigh_each_protein.append(one)

In [108]:
near_df = pd.DataFrame(near_neigh_each_protein)

2.2 Change columns' name

In [109]:
near_df.columns =\
    ["order inside sample","current sample","current type","current dis","current angle"]+ \
    [str(x) + str(y) for x in range(0,578) for y in ["th sample"," type"," distance"," angle"]]

Save it to file

In [ ]:
#near_df.to_csv("/home/yuan/Documents/PTM_k_NN20_test.csv")

##### 2.3 Meaning of column names 

order inside sample: i-th neighbor of a sample, i = 0,1,2,3,4,5

current sample: j-th sample, j = 0,1,2,3......,2071

current type: residue type of i-th neighbor

Then, the closest residue's information of one residue in each sample

In [113]:
near_df

,order inside sample,current sample,current type,current dis,current angle,0th sample,0 type,0 distance,0 angle,1th sample,...,575 distance,575 angle,576th sample,576 type,576 distance,576 angle,577th sample,577 type,577 distance,577 angle
0,0,0,GLY,4.262492,124.883418,0,GLY,4.262492,124.883418,1,...,999.000000,999.000000,576,21,999.000000,999.000000,577,21,999.000000,999.000000
1,0,1,ALA,4.115262,145.134467,0,ALA,7.094670,66.344847,1,...,6.155647,51.867172,576,ALA,9.224442,47.685409,577,21,999.000000,999.000000
2,0,2,ASP,4.341730,120.108316,0,ASP,4.941712,154.419712,1,...,10.453968,124.753511,576,ASP,9.770950,95.754813,577,ASP,15.370951,64.587386
3,0,3,MET,4.621907,106.551924,0,MET,5.187751,110.424738,1,...,999.000000,999.000000,576,MET,11.936436,30.075046,577,MET,15.016155,33.369843
4,0,4,GLU,4.572974,122.672384,0,GLU,8.225829,142.800073,1,...,8.341495,151.093118,576,GLU,8.110852,68.643870,577,GLU,5.582177,114.404088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,11,573,TRP,8.076758,66.025750,0,21,999.000000,999.000000,1,...,999.000000,999.000000,576,21,999.000000,999.000000,577,21,999.000000,999.000000
6932,11,574,SER,9.803909,81.654017,0,SER,6.493145,109.190977,1,...,7.880416,25.950589,576,SER,8.339875,69.872966,577,21,999.000000,999.000000
6933,11,575,ILE,11.084386,81.846484,0,ILE,7.514908,53.729751,1,...,11.084386,81.846484,576,ILE,10.777499,80.873769,577,21,999.000000,999.000000
6934,11,576,MET,11.936436,30.075046,0,MET,5.187751,110.424738,1,...,999.000000,999.000000,576,MET,11.936436,30.075046,577,MET,15.016155,33.369843
6935,11,577,ASP,15.370951,64.587386,0,ASP,4.941712,154.419712,1,...,10.453968,124.753511,576,ASP,10.902455,70.849130,577,ASP,15.370951,64.587386

### 3.1 Functions for calculating the sum of root of the sum of squared difference 
#### second function is just wrap up the first function for purpose of multi-processing

The first function takes two residues as input [d1, a1] [d2, a2]

Normalize [d1, d2] [a1, a2] into the unit ([0,1])

    [20,999] will be normalized into something like [0.01,0.99]
   
The function will return √((d1 - d2)^2 + (a1 - a2)^2)

In [110]:
def norm_distance(ang_dis_1,ang_dis_2):
    # import math
    # import numpy as np
    # from sklearn import preprocessing
    norm_array = preprocessing.normalize([[ang_dis_1[0],ang_dis_2[0]],[ang_dis_1[1],ang_dis_2[1]]],axis=0)
    total_dis = math.sqrt((norm_array[0][0] - norm_array[0][1])**2+\
                (norm_array[1][0]- norm_array[1][1])**2)
    return(total_dis)

from multiprocessing import Pool
def wrap_nd(i):
    return(norm_distance(near_df.iloc[j,3:5],near_df.iloc[j,(7+4*i):(7+4*i+1+1)]))

### 3.2 The below is to calcuate the summation of the distance of one residue to the closest residue in each sample 

For each residue, we have its own distance and angle, donating as dis and ang.

We have its closest residue in this sample. d1 a1, d2 a2, ...., d2071 a2071, d2072 a2072

sum = norm_distance(dis ang, d1 a1) + norm_distance(dis ang, d2 a2) + ... + norm_distance(dis ang, d2072 a2072)

In [114]:
%%time
total_dis = list()
for j in range(6936):
    one_res = 0
    with Pool(processes=8) as pool:
        for i in pool.imap_unordered(wrap_nd, range(578)):
            one_res=i+one_res
    total_dis.append(one_res)

CPU times: user 2min 28s, sys: 7min 45s, total: 10min 13s
Wall time: 32min 4s

total_dis_np = np.array(total_dis)
sort_index = np.argsort(total_dis_np)

In [112]:
near_df_copy = near_df.copy(deep=True)
near_df_copy["total_dis"] = total_dis

ValueError: Length of values does not match length of index

### 4.1 Clustering 
##### some residues have few samples, not enough clusters (max = 3)

In [57]:
cluster_name = []
cluster_ave_dis = []
col_index = [(7+4*i) for i in range(578)] + [(7+4*i+1) for i in range(578)]
col_index.sort()
cluster_near_df = pd.DataFrame()
for res in near_df["current type"].unique():
    one_res = near_df_copy[near_df_copy["current type"]==res].copy(deep=True)
    kmeans = KMeans(n_clusters=3, random_state=0).fit(one_res.iloc[:,col_index])
    one_res["Kmeans_cluster"] = kmeans.labels_
    cluster_near_df = pd.concat([cluster_near_df,one_res])
    for i in range(3):
        cluster_name.append(res+str(i))
        average_dis = sum(one_res[one_res["Kmeans_cluster"]==i]["total_dis"])/\
                        len(one_res[one_res["Kmeans_cluster"]==i]["total_dis"])
        cluster_ave_dis.append(average_dis)

In [58]:
cluster_near_df = cluster_near_df.sort_index()

In [59]:
cluster_near_df_sort = cluster_near_df.copy(deep=True)

In [60]:
cluster_near_df_sort.shape

(3468, 2319)

### 5.1 Sort by total distance of each sample (lowest, first) and return the first 6 clusters

In [61]:
cluster_near_df_sort.sort_values(by=["total_dis"]).loc[:,["current type","Kmeans_cluster"]].iloc[0:6,]

     current type  Kmeans_cluster
2746          GLN               0
3283          PHE               2
1762          THR               1
3266          TYR               2
3256          ASP               1
3107          PHE               2

### 5.2 Sort by total distance of each sample (lowest, first) and return the first 6  unique clusters

In [100]:
num_cluster = 24
important_cluster = cluster_near_df_sort.sort_values(by=["total_dis"]).loc[:,\
                        ["current type","Kmeans_cluster"]].drop_duplicates().iloc[0:num_cluster,]
important_cluster = important_cluster.reindex()
important_cluster = [important_cluster.iloc[i,0] + \
                     str(important_cluster.iloc[i,1]) for i in range(num_cluster)]

In [101]:
cluster_near_df.head()

,order inside sample,current sample,current type,current dis,current angle,0th sample,0 type,0 distance,0 angle,1th sample,...,576th sample,576 type,576 distance,576 angle,577th sample,577 type,577 distance,577 angle,total_dis,Kmeans_cluster
0,0,0,GLY,4.262492,124.883418,0,GLY,4.262492,124.883418,1,...,576,21,999.000000,999.000000,577,21,999.000000,999.000000,234.080188,0
1,0,1,ALA,4.115262,145.134467,0,ALA,7.094670,66.344847,1,...,576,ALA,9.224442,47.685409,577,21,999.000000,999.000000,274.302635,1
2,0,2,ASP,4.341730,120.108316,0,ASP,4.941712,154.419712,1,...,576,21,999.000000,999.000000,577,21,999.000000,999.000000,291.981603,2
3,0,3,MET,4.621907,106.551924,0,MET,5.187751,110.424738,1,...,576,21,999.000000,999.000000,577,21,999.000000,999.000000,372.654704,0
4,0,4,GLU,4.572974,122.672384,0,21,999.000000,999.000000,1,...,576,GLU,8.110852,68.643870,577,GLU,5.582177,114.404088,320.862246,1

### 6.1 Generate features accroding to clustering importance

In [102]:
final_feature = []
for i in range(578):
    one_protein = []
    one_data = cluster_near_df[cluster_near_df["current sample"]==i].copy(deep=True)
    one_data["cluster"] = one_data["current type"] + one_data["Kmeans_cluster"].astype('str')
    for key_cluster in important_cluster:
        if one_data[one_data["cluster"]==key_cluster].shape[0] == 0:
            one_protein.extend(["unknown",999,999])
        else:
            one_protein.extend(list(one_data[one_data["cluster"]==key_cluster].sample(1).iloc[:,2:5].values[0]))
    final_feature.append(one_protein)

#### The below is final features for training and predicting

In [103]:
pd.DataFrame(final_feature).head()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,unknown,999.0,999.0,unknown,999.0,999.0,unknown,999.0,999.0,unknown,...,999.000000,ALA,7.09467,66.344847,unknown,999.0,999.0,unknown,999.000000,999.000000
1,unknown,999.0,999.0,unknown,999.0,999.0,unknown,999.0,999.0,unknown,...,999.000000,unknown,999.00000,999.000000,unknown,999.0,999.0,ALA,4.115262,145.134467
2,unknown,999.0,999.0,unknown,999.0,999.0,unknown,999.0,999.0,unknown,...,999.000000,unknown,999.00000,999.000000,unknown,999.0,999.0,unknown,999.000000,999.000000
3,unknown,999.0,999.0,unknown,999.0,999.0,unknown,999.0,999.0,unknown,...,999.000000,unknown,999.00000,999.000000,unknown,999.0,999.0,unknown,999.000000,999.000000
4,unknown,999.0,999.0,unknown,999.0,999.0,unknown,999.0,999.0,unknown,...,156.020169,unknown,999.00000,999.000000,unknown,999.0,999.0,unknown,999.000000,999.000000

In [104]:
pd.DataFrame(final_feature).to_csv(\
        "/home/yuan/Documents/Catalytic_k_NN_6_{0}_order_samples.csv".format(num_cluster))

### 7.1 Prediction results

|Classifier|Accuracy|ROC|Precision|Recall|
|---|---|---|---|---|
|decision_tree |accuracy: 0.5439 | roc: 0.5664 | precision: 0.5356 | recall: 0.6949|
|naive_gaussian |accuracy: 0.5381 |roc: 0.5264 |precision: 0.5236| recall: 0.8514|
|K_neighbor |accuracy: 0.5183 |roc: 0.5314 |precision: 0.5191 |recall: 0.5264|
|bagging_knn |accuracy: 0.5145 |roc: 0.5330| precision: 0.5036 |recall: 0.5160|
|bagging_tree |accuracy: 0.5304| roc: 0.5756| precision: 0.5354| recall: 0.7123|
|random_forest |accuracy: 0.5449| roc: 0.5810|precision: 0.5469 |recall: 0.7037|
|adaboost |accuracy: 0.5391 |roc: 0.5437 |precision: 0.5291 |recall: 0.7007|
|gradient_boost |accuracy: 0.5362 |roc: 0.5383 |precision: 0.5260 |recall: 0.7182|
|svm |accuracy: 0.5063| roc: 0.5008 |precision: 0.5037| recall: 0.6990|